.delete {
    /*background: red;*/
    background: purple;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.list-item{
	display: flex;
}

.title{
	text-align: center;
}

.delete:hover {
    background: #333;
}

.line-through {
    text-decoration: line-through;
}

li{
	list-style: none;
}
.box-design{
	border: 2px;
	margin: 45px;
	display: flex;
}

.name{
	margin-right: 50px;
}
.delete{

}

#strike:checked + span{
	text-decoration: line-through;
}