.delete{
    /*background: red;*/
    background: purple;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.delete:hover{
    background: #333;
}

.line-through{
	text-decoration: line-through;
}